.containers{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  
}
.container{
  border: 2px solid black;
  height: 375px;
  width: 410px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.Subbtn{
  
  background-color: blue;
  color: whitesmoke;
  margin-right: 10px;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  
}
.data1{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.data2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;

}
.dataContain{
  height: auto;
  justify-content: center;
  align-items: center;
}
.bmiDetail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.label{
  width: 120px; /* Set a consistent width for labels */
  text-align: right; /* Align text to the right */
  margin-right: 10px;
}
input {
  width: 200px; /* Set a consistent width for input boxes */
  padding: 5px; /* Add some padding for better readability */
  border: 1px solid #ccc; /* Add a border to inputs */
  border-radius: 5px; /* Add some border radius for smoother edges */
}